.teams {
    max-width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.img{
    max-width: 65px;
}
